.profile__info {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 670px) {
  .profile__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
