.profile__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
}

.profile__overlay:hover {
  background: rgba(0, 0, 0, 0.8);
}
