.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}



.popup__input:focus {
  outline: none;
}
