.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 195px;
}

@media screen and (max-width: 485px) {
  .popup__container {
    max-width: 350px;
    max-height: 361px;
  }
}

@media screen and (max-width: 414px) {
  .popup__container {
    max-width: 270px;
    max-height: 337px;
  }
}
