.popup__submit {
  margin: 30px 0 36px;
  padding: 0;
  height: 50px;
  background: #000000;
  border: none;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
  transition: opacity 0.8s linear;
}


